<p>This document was written for BEdit version 0.2.3-wip and includes some changes not available in earlier versions. See <a href="https://github.com/Kipt/BEdit">GitHub</a> for latest version.</p>
<h1 id="layout-language">Layout Language</h1>
<p>This document introduces all current features by going through some use-cases. Referenced files can be found in BEdit package (both the free open source one, and paid version) as well as in the <a href="https://bitbucket.org/Kipt88/bedit_pub/src/master/examples/">public repository</a>. The layout language features are not tied to the paid version.</p>
<p>As many features have similar C counter parts, a familiarity with C is expected from the reader.</p>
<h2 id="introduction">Introduction</h2>
<p>The layout language is the programming language you use to declare the format of a binary file. The language is loosely based on C and several keywords and concepts are borrowed from there.</p>
<p>To follow the examples here you can use the command line or GUI version of BEdit. For command line, invoke it as </p>
<pre><code class="lang-bash">bedit -data path<span class="hljs-regexp">/to/y</span>our<span class="hljs-regexp">/binary/</span><span class="hljs-keyword">file</span> -layout path<span class="hljs-regexp">/to/y</span>our<span class="hljs-regexp">/source/</span><span class="hljs-keyword">file</span>
</code></pre>
<p>and for the GUI version you can either use the main menu drop down menus or simply drag&#39;n&#39;drop both the binary file and source file on the window. BEdit GUI assumes the source file has <code>.bet</code> as file extension when dropping on window.</p>
<p>A typical layout definition file contains a list of type declarations followed by one or more layout commands. As a simple example, the below specifies the format of the binary file to start with 10 bytes that are displayed as &quot;raw&quot;:</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">MyData</span>
</span>{
    <span class="hljs-comment">// This assumes the file contains at least 10 bytes.</span>
    raw(<span class="hljs-number">10</span>) first_10_bytes_in_file;
};

layout MyData;
</code></pre>
<p>If there are more than 10 bytes in the file the extra bytes are ignored, and if there are less an error is presented.</p>
<p><code>struct MyData { ... };</code> should look familiar to you if you have programmed in C, this is a composite type definition named <code>MyData</code>. A <code>struct</code> contains a list of members specified with a type followed by member name. In above case it only has one member, <code>first_10_bytes_in_file</code> of type <code>raw(10)</code>.</p>
<p>The type of a member tells BEdit two things, how to display it and how big it is. <code>raw(10)</code> specifies that it should be displayed as &quot;raw&quot; and the size (in bytes) is 10.</p>
<p>You can create any amount of <code>struct</code> types in the source file, so we need to tell BEdit which type the file starts with. This is done with the <code>layout</code> command. If you specify multiple <code>layout</code> commands they are interpreted in order.</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">MyData</span>
</span>{
    raw(<span class="hljs-number">10</span>) ten_bytes;
};

layout MyData; <span class="hljs-comment">// Displays first 10 bytes</span>
layout MyData; <span class="hljs-comment">// Displays next 10 bytes</span>
</code></pre>
<p>All data from the binary file is read from the current address. This starts at zero and advances every time a member is evaluated. The first layout command displays <code>raw(10)</code> at address zero and advances current address by 10, the second layout command displays <code>raw(10)</code> at address <code>10</code> (that is <code>0x0A</code>).</p>
<h2 id="scalar-types">Scalar Types</h2>
<p>All members of a <code>struct</code> have a type, this is either a scalar, <code>enum</code>, category, or another <code>struct</code> type previously declared.</p>
<p>Scalar types are defined by base type, size, radix and byte order in the form:</p>
<pre><code class="lang-C++"><span class="hljs-title">base</span>-<span class="hljs-keyword">type</span>(size, radix, byte-order)
</code></pre>
<p>Base type of a scalar determines how the data is loaded and displayed. Valid base types are:</p>
<ul>
<li><code>raw</code> - data loaded and displayed in memory order,</li>
<li><code>u</code> - unsigned integer,</li>
<li><code>s</code> - signed integer (using two&#39;s complement),</li>
<li><code>f</code> - floating point,</li>
<li><code>string</code> - ASCII string and</li>
<li><code>hidden</code> - data not displayed.</li>
</ul>
<p>The radix of a scalar type determines what numerical base should be used. These are:</p>
<ul>
<li><code>binary</code> - base 2,</li>
<li><code>octal</code> - base 8,</li>
<li><code>hex</code> - base 16.</li>
</ul>
<p>By default the radix is 10, except for base type <code>raw</code> that uses hexadecimal. <code>string</code> and <code>hidden</code> does not have a radix specifier. Currently <code>f</code> ignores radix specifier and is always displayed in decimal form.</p>
<p>Byte order is by default <code>little</code> (unless overwritten by the <code>#default</code> statement). To explicitly specify byte order, <code>little</code> or <code>big</code> can be added to the scalar type. Note that byte order cannot be specified for <code>raw</code> or <code>string</code> as they are always loaded and displayed in memory order.</p>
<p>Here are some common examples:</p>
<ul>
<li><code>u(4, hex)</code> - 32-bit unsigned integer, displayed in hexadecimal</li>
<li><code>s(8, big)</code> - 64-bit big endian signed integer, in decimal</li>
<li><code>f(4)</code> - single precision float</li>
<li><code>raw(64)</code> - 64 bytes of raw data, displayed in hexadecimal</li>
<li><code>hidden(256)</code> - 256 bytes that are not displayed</li>
</ul>
<p>Note the difference between <code>raw(size)</code> and <code>u(size, hex)</code>, <code>u</code> might perform a byte order swap. To indicate the difference between these two types, <code>raw</code> numbers are displayed in BEdit with a prefix (<code>0b</code>, <code>0</code>, <code>0x</code>), all others with a suffix (<code>b</code>, <code>o</code>, <code>h</code>).</p>
<p>Let&#39;s consider a <a href="https://en.wikipedia.org/wiki/BMP_file_format#Bitmap_file_header">Bitmap File Header</a>. It has five members starting with 2 byte file magic, 4 byte unsigned integer telling size of file, two 2-byte members that are reserved and lastly 4 byte unsigned integer offset to start of pixels.</p>
<pre><code class="lang-C++">struct BMPFileHeader
{
    <span class="hljs-type">string</span>(<span class="hljs-number">2</span>) signature; <span class="hljs-comment">// Expected to be "BM"</span>

    u(<span class="hljs-number">4</span>) fileSize;
    raw(<span class="hljs-number">2</span>) reserved1;
    raw(<span class="hljs-number">2</span>) reserved2;
    u(<span class="hljs-number">4</span>, hex) fileOffsetToPixelArray;
};

layout BMPFileHeader;
</code></pre>
<p>If you run the above using <code>examples/test.bmp</code> that&#39;s inside the BEdit package you will see BEdit layout the content as</p>
<pre><code>BMPFileHeader
 <span class="hljs-number">0</span>h              signature   <span class="hljs-string">"BM"</span>
<span class="hljs-number">02</span>h               fileSize    <span class="hljs-number">306</span>
<span class="hljs-number">06</span>h              reserved1 <span class="hljs-number">0x0000</span>
<span class="hljs-number">08</span>h              reserved2 <span class="hljs-number">0x0000</span>
<span class="hljs-number">0</span>Ah fileOffsetToPixelArray    <span class="hljs-number">36</span>h
</code></pre><p>As displaying <code>reserved1</code> and <code>reserved2</code> is of little value we could also change those to</p>
<pre><code class="lang-C++">    hidden(<span class="hljs-number">2</span>) reserved1<span class="hljs-comment">;</span>
    hidden(<span class="hljs-number">2</span>) reserved2<span class="hljs-comment">;</span>
</code></pre>
<p>or using an array</p>
<pre><code class="lang-C++">    <span class="hljs-selector-tag">hidden</span>(<span class="hljs-number">2</span>) <span class="hljs-selector-tag">reserved</span><span class="hljs-selector-attr">[2]</span>;
</code></pre>
<h2 id="typedef">Typedef</h2>
<p>Just like in C/C++, typedefs are aliases. In above header the <code>fileOffsetToPixelArray</code> is displayed as a hexadecimal value <code>u(4, hex)</code>. This is a personal preference as it could just as well be displayed in decimal (or even octal!).</p>
<p>To make the file offset number format easier to change, you can add a type alias using <code>typedef</code>.</p>
<pre><code class="lang-C++">typedef u(<span class="hljs-number">4</span>, hex) offset_t<span class="hljs-comment">;</span>

struct <span class="hljs-keyword">BMPFileHeader
</span>{
    string(<span class="hljs-number">2</span>) signature<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) fileSize<span class="hljs-comment">;</span>
    hidden(<span class="hljs-number">2</span>) reserved[<span class="hljs-number">2</span>]<span class="hljs-comment">;</span>

    offset_t fileOffsetToPixelArray<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout <span class="hljs-keyword">BMPFileHeader;</span>
</code></pre>
<p>Unlike typedefs in C/C++, the integer expressions are evaluated at runtime rather than build time. This means you can modify what the type is based on data you read from the binary file.</p>
<pre><code class="lang-C++">var sizeof_ptr<span class="hljs-comment">;</span>
typedef alignas(sizeof_ptr) u(sizeof_ptr) ptr_t<span class="hljs-comment">;</span>

struct Data
{
    u(<span class="hljs-number">4</span>) is64bit<span class="hljs-comment">;</span>

    if (is64bit)
    {
        sizeof_ptr = <span class="hljs-number">8</span><span class="hljs-comment">;</span>
    }
    else
    {
        sizeof_ptr = <span class="hljs-number">4</span><span class="hljs-comment">;</span>
    }

    ptr_t pointer<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout Data<span class="hljs-comment">;</span>
</code></pre>
<p>Note that currently all type declarations must be at global scope, so only global variables can affect the typedef.</p>
<p>Typedefs can also be used for <code>enum</code> and <code>struct</code> types.</p>
<h2 id="asserts-and-prints">Asserts and Prints</h2>
<p>In the above BMP file header example we have a file signature. This is very common in binary files and is used to detect if the file is in the expected format.</p>
<p>We can extend our previous BMP example to check that the file is indeed having <code>BM</code> as signature by adding an <code>assert</code>.</p>
<pre><code class="lang-C++">typedef u(<span class="hljs-number">4</span>, hex) offset_t<span class="hljs-comment">;</span>

struct <span class="hljs-keyword">BMPFileHeader
</span>{
    string(<span class="hljs-number">2</span>) signature<span class="hljs-comment">;</span>
    assert(signature == <span class="hljs-string">"BM"</span>)<span class="hljs-comment">;</span>

    u(<span class="hljs-number">4</span>) fileSize<span class="hljs-comment">;</span>
    hidden(<span class="hljs-number">2</span>) reserved[<span class="hljs-number">2</span>]<span class="hljs-comment">;</span>
    offset_t fileOffsetToPixelArray<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout <span class="hljs-keyword">BMPFileHeader;</span>
</code></pre>
<p><code>assert</code> takes a single parameter that if evaluates to false (i.e. zero), stops the execution immediately.</p>
<p>The output remains the same as the <code>assert</code> is not triggered, but now let&#39;s try to open an invalid BMP file, such as <code>examples/test.png</code>.</p>
<pre><code><span class="hljs-symbol">path</span>/to/sourcecode.<span class="hljs-keyword">bet(6,5): </span>Error: assertion triggered.
<span class="hljs-keyword">BMPFileHeader
</span>  <span class="hljs-number">00</span>h signature <span class="hljs-string">"\x89P"</span>
</code></pre><p>The assertion stops evaluation of the members immediately and shows what file and where the issue was.</p>
<p>For displaying messages that shouldn&#39;t stop execution you can use <code>print</code>. Let&#39;s print out if reserved is zero or not</p>
<pre><code class="lang-C++">typedef u(<span class="hljs-number">4</span>, hex) offset_t;

struct BMPFileHeader
{
    <span class="hljs-type">string</span>(<span class="hljs-number">2</span>) signature;
    assert(signature == <span class="hljs-string">"BM"</span>);

    u(<span class="hljs-number">4</span>) fileSize;
    hidden(<span class="hljs-number">2</span>) reserved[<span class="hljs-number">2</span>];

    if (reserved[<span class="hljs-number">0</span>] == <span class="hljs-number">0</span> &amp;&amp; reserved[<span class="hljs-number">1</span>] == <span class="hljs-number">0</span>)
    {
        print(<span class="hljs-string">"reserved are both zero"</span>);
    }
    else
    {
        print(<span class="hljs-string">"reserved[0] is"</span>, reserved[<span class="hljs-number">0</span>]);
        print(<span class="hljs-string">"reserved[1] is"</span>, reserved[<span class="hljs-number">1</span>]);
    }

    offset_t fileOffsetToPixelArray;
};

layout BMPFileHeader;
</code></pre>
<p><code>print</code> takes one or two parameters, the message and an optional expression as second parameter. You can also omit the message and just pass the expression.</p>
<h2 id="literals">Literals</h2>
<p>We used <code>signature == &quot;BM&quot;</code> in above example, something that you can&#39;t do in C.</p>
<p>All expressions (except plotting expressions) you write in BEdit are using signed 64-bit integer math. <code>signature</code> is loaded as an integer and then compared with <code>&quot;BM&quot;</code> that has been loaded as well. This means that string literals that fit in a 64-bit integer can be used as numbers. Note that attempting to use a member, or string literal, larger than 64-bit in an expression is an error.</p>
<p>String literals can be quoted with either single (<code>&#39;</code>) or double quote (<code>&quot;</code>) marks and characters are escaped similar as you would in C.</p>
<p>Integer literals are same as in C with the exception that you can add <code>&#39;</code> wherever you like in the literal after any prefix, it is ignored while parsing (similar to C++14) like <code>0xAA&#39;BB&#39;12</code> or <code>0b&#39;1111&#39;0000&#39;&#39;1100&#39;0000</code>.</p>
<p>Note that the prefix can cause some confusion. The literal <code>0xAABB</code> means <code>0xAA * 0x100 + 0xBB</code>, that is <code>0xAA</code> is the most significant byte and <code>0xBB</code> is the least, but <code>raw</code> that displays with a prefix is in memory order. On little-endian layouts (the default) this means memory printed by BEdit as <code>0xAABB</code> equals the literal <code>0xBBAA</code>.</p>
<h2 id="enum">Enum</h2>
<p>To continue on with the BMP example, after the file header there is an info header. Adding the info header and adding a new layout is fairly straight forward following the Wikipedia article.</p>
<pre><code class="lang-C++">typedef u(<span class="hljs-number">4</span>, hex) offset_t<span class="hljs-comment">;</span>

struct <span class="hljs-keyword">BMPFileHeader
</span>{
    ...
}<span class="hljs-comment">;</span>

struct <span class="hljs-keyword">BMPInfoHeader
</span>{
    u(<span class="hljs-number">4</span>) size<span class="hljs-comment">;</span>

    s(<span class="hljs-number">4</span>) width<span class="hljs-comment">;</span>
    s(<span class="hljs-number">4</span>) height<span class="hljs-comment">;</span>

    u(<span class="hljs-number">2</span>) planeCount<span class="hljs-comment">;</span>
    u(<span class="hljs-number">2</span>) <span class="hljs-keyword">bitsPerPixel;
</span>
    u(<span class="hljs-number">4</span>) compression<span class="hljs-comment">; // 0 = BI_RGB, 1 = BI_RLE8, ...</span>

    u(<span class="hljs-number">4</span>) imageSize<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) xPixelsPerMeter<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) yPixelsPerMeter<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) colorsInColorTable<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) importantColorCount<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout <span class="hljs-keyword">BMPFileHeader;
</span>layout <span class="hljs-keyword">BMPInfoHeader;</span>
</code></pre>
<p>Running that with <code>examples/test.bmp</code> shows the additional type as:</p>
<pre><code>BMPInfoHeader
<span class="hljs-number">0</span>Eh                   size   <span class="hljs-number">40</span>
<span class="hljs-number">12</span>h                  width   <span class="hljs-number">11</span>
<span class="hljs-number">16</span>h                 height    <span class="hljs-number">7</span>
<span class="hljs-number">1</span>Ah             planeCount    <span class="hljs-number">1</span>
<span class="hljs-number">1</span>Ch           bitsPerPixel   <span class="hljs-number">24</span>
<span class="hljs-number">1</span>Eh            compression    <span class="hljs-number">0</span>
<span class="hljs-number">22</span>h              imageSize  <span class="hljs-number">252</span>
<span class="hljs-number">26</span>h        xPixelsPerMeter    <span class="hljs-number">0</span>
<span class="hljs-number">2</span>Ah        yPixelsPerMeter    <span class="hljs-number">0</span>
<span class="hljs-number">2</span>Eh     colorsInColorTable    <span class="hljs-number">0</span>
<span class="hljs-number">32</span>h    importantColorCount    <span class="hljs-number">0</span>
</code></pre><p>We can see that the <code>compression</code> is zero, that corresponds to <code>BI_RGB</code>. To tell BEdit to format it as such we create an <code>enum</code>.</p>
<pre><code class="lang-C++">typedef u(<span class="hljs-number">4</span>, hex) offset_t<span class="hljs-comment">;</span>

enum PixelCompression
{
    <span class="hljs-keyword">BI_RGB,
</span>    <span class="hljs-keyword">BI_RLE8,
</span>    <span class="hljs-keyword">BI_RLE4,
</span>    <span class="hljs-keyword">BI_BITFIELDS,
</span>    <span class="hljs-keyword">BI_JPEG,
</span>    <span class="hljs-keyword">BI_PNG,
</span>    <span class="hljs-keyword">BI_ALPHABITFIELDS,
</span>    <span class="hljs-keyword">BI_CMYK </span>= <span class="hljs-number">11</span>,
    <span class="hljs-keyword">BI_CMYKRLE8,
</span>    <span class="hljs-keyword">BI_CMYKRLE4,
</span>}<span class="hljs-comment">;</span>

struct <span class="hljs-keyword">BMPFileHeader
</span>{
    ...
}<span class="hljs-comment">;</span>

struct <span class="hljs-keyword">BMPInfoHeader
</span>{
    ...

    PixelCompression(<span class="hljs-number">4</span>) compression<span class="hljs-comment">;</span>

    ...
}<span class="hljs-comment">;</span>

layout <span class="hljs-keyword">BMPFileHeader;
</span>layout <span class="hljs-keyword">BMPInfoHeader;</span>
</code></pre>
<p>Adding that <code>enum</code> as type to <code>compression</code> prints out</p>
<pre><code><span class="hljs-number">1</span>Eh            compression BI_RGB
</code></pre><p>instead of the number. This also works for flag-like enums, &quot;bitwise or&quot;:s will be added to indicate what flags are set.</p>
<p>The declaration of an <code>enum</code> member (<code>PixelCompression(4) compression;</code>) is very similar to that of a scalar but the <code>enum</code> only has a size parameter. The size can be omitted if the <code>enum</code> was declared as <code>enum PixelCompression(4) { ... };</code> instead.</p>
<p>Accessing <code>enum</code> members are slightly different from C. To use <code>BI_RGB</code> in an expression you write <code>PixelCompression.BI_RGB</code> instead of just <code>BI_RGB</code>. If this is unwanted behavior you can declare the <code>enum</code> type as <code>anonymous</code>.</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">anonymous</span> <span class="hljs-title">PixelCompression</span>(4)</span>
{
    BI_RGB,
    ...
};
...
<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">BMPInfoHeader</span></span>
{
    ...
    PixelCompression compression;
    assert(compression == BI_RGB);
    ...
};
</code></pre>
<p>Un-named enums can also be created, however you cannot create members of this type and they have no size - but it can be useful to create global constants.</p>
<h2 id="member-access-and-current-address">Member Access and Current Address</h2>
<p>To display the pixels we need to access <code>BMPFileHeader.fileOffsetToPixelArray</code> and other members like <code>bitsPerPixel</code>. This cannot be done after the <code>layout</code> has finished, as such we need to put the headers in one <code>struct</code>.</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">anonymous</span> <span class="hljs-title">PixelCompression</span>(4)</span>
{
    ...
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">BMPFileHeader</span></span>
{
    ...
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">BMPInfoHeader</span></span>
{
    ...
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">BMPFile</span></span>
{
    BMPFileHeader fileHeader;
    BMPInfoHeader infoHeader;
};

layout BMPFile;
</code></pre>
<p>Now we can use the nested members to display the first row.</p>
<pre><code class="lang-C++"><span class="hljs-keyword">struct </span><span class="hljs-keyword">BMPFile
</span>{
    <span class="hljs-keyword">BMPFileHeader </span>fileHeader<span class="hljs-comment">;</span>
    <span class="hljs-keyword">BMPInfoHeader </span>infoHeader<span class="hljs-comment">;</span>

    <span class="hljs-meta">assert</span>(infoHeader.<span class="hljs-keyword">bitsPerPixel </span>% <span class="hljs-number">8</span> == <span class="hljs-number">0</span>)<span class="hljs-comment">;</span>

    raw(infoHeader.<span class="hljs-keyword">bitsPerPixel </span>/ <span class="hljs-number">8</span>) firstRow[infoHeader.width]<span class="hljs-comment">;</span>

    // There might need to <span class="hljs-keyword">be </span>padding <span class="hljs-keyword">before </span>next row.
}<span class="hljs-comment">;</span>
</code></pre>
<p>Each pixel is displayed as <code>raw</code>, and there is <code>infoHeader.width</code> amount of them.</p>
<p>For the <code>examples/test.bmp</code> the above works, but just because of luck. The address of <code>firstRow</code> must be <code>fileHeader.fileOffsetToPixelArray</code>.</p>
<p>To specify the address of a member we can use an address specifier <code>@(address)</code> before creating the member.</p>
<pre><code class="lang-C++">
<span class="hljs-keyword">struct </span><span class="hljs-keyword">BMPFile
</span>{
    <span class="hljs-keyword">BMPFileHeader </span>fileHeader<span class="hljs-comment">;</span>
    <span class="hljs-keyword">BMPInfoHeader </span>infoHeader<span class="hljs-comment">;</span>

    <span class="hljs-meta">assert</span>(infoHeader.<span class="hljs-keyword">bitsPerPixel </span>% <span class="hljs-number">8</span> == <span class="hljs-number">0</span>)<span class="hljs-comment">;</span>

    <span class="hljs-comment">@(fileHeader.fileOffsetToPixelArray)</span>
        raw(infoHeader.<span class="hljs-keyword">bitsPerPixel </span>/ <span class="hljs-number">8</span>) firstRow[infoHeader.width]<span class="hljs-comment">;</span>

    // Padding might <span class="hljs-keyword">be </span>required <span class="hljs-keyword">before </span>next row.
}<span class="hljs-comment">;</span>
</code></pre>
<p><code>@</code> can also be used on its own as a global variable. This is the absolute address in the file where the next member is going to be defined. So alternatively we could assign it directly</p>
<pre><code class="lang-C++">    @ = fileHeader.fileOffsetToPixelArray;
    raw(infoHeader.bitsPerPixel / <span class="hljs-number">8</span>) firstRow<span class="hljs-string">[infoHeader.width]</span>;
</code></pre>
<h2 id="local-variables-and-type-parameters">Local Variables and Type Parameters</h2>
<p>The size of a pixel row of a BMP image in bytes (including padding) can be calculated as <code>4 * floor((bitsPerPixel * width + 31) / 32)</code>. To make a pixel row its own <code>struct</code> it would look something like:</p>
<pre><code class="lang-C++">struct PixelRow
{
    raw(bitsPerPixel / <span class="hljs-number">8</span>) pixels[width];
    if (<span class="hljs-number">4</span> * ((bitsPerPixel * width + <span class="hljs-number">31</span>) / <span class="hljs-number">32</span>) - bitsPerPixel * width / <span class="hljs-number">8</span> &gt; <span class="hljs-number">0</span>)
    {
        raw(<span class="hljs-number">4</span> * ((bitsPerPixel * width + <span class="hljs-number">31</span>) / <span class="hljs-number">32</span>) - bitsPerPixel * width / <span class="hljs-number">8</span>) padding;
    }
};
</code></pre>
<p>which has several issues. First, we don&#39;t have access to the <code>bitsPerPixel</code> and <code>width</code> members and second the repeating of calculations makes the <code>struct</code> hard to read.</p>
<p><code>struct</code> types in BEdit can take parameters. In fact, a <code>struct</code> is more like a function than a type. All parameters are 64-bit signed integers.</p>
<pre><code class="lang-C++"><span class="hljs-symbol">...</span>

<span class="hljs-keyword">struct </span>PixelRow(var <span class="hljs-keyword">bitsPerPixel, </span>var width)
{
    <span class="hljs-meta">assert</span>(<span class="hljs-keyword">bitsPerPixel </span>% <span class="hljs-number">8</span> == <span class="hljs-number">0</span>)<span class="hljs-comment">;</span>

    raw(<span class="hljs-keyword">bitsPerPixel </span>/ <span class="hljs-number">8</span>) pixels[width]<span class="hljs-comment">;</span>

    // Padding might <span class="hljs-keyword">be </span>required <span class="hljs-keyword">before </span>next row.
}<span class="hljs-comment">;</span>

<span class="hljs-keyword">struct </span><span class="hljs-keyword">BMPFile
</span>{
    <span class="hljs-keyword">BMPFileHeader </span>fileHeader<span class="hljs-comment">;</span>
    <span class="hljs-keyword">BMPInfoHeader </span>infoHeader<span class="hljs-comment">;</span>

    <span class="hljs-comment">@(fileHeader.fileOffsetToPixelArray) PixelRow(infoHeader.bitsPerPixel, infoHeader.width) firstRow;</span>
}<span class="hljs-comment">;</span>
</code></pre>
<p><code>var</code> is not only used to specify <code>struct</code> parameters, it is also used to create local variables. We can add the padding as:</p>
<pre><code class="lang-C++">...

struct PixelRow(<span class="hljs-built_in">var</span> bitsPerPixel, <span class="hljs-built_in">var</span> <span class="hljs-built_in">width</span>)
{
    assert(bitsPerPixel <span class="hljs-symbol">%</span> <span class="hljs-number">8</span> == <span class="hljs-number">0</span>);

    <span class="hljs-built_in">var</span> sizeInBytes = <span class="hljs-number">4</span> * ((bitsPerPixel * <span class="hljs-built_in">width</span> + <span class="hljs-number">31</span>) / <span class="hljs-number">32</span>);
    <span class="hljs-built_in">var</span> paddingInBytes = sizeInBytes - bitsPerPixel * <span class="hljs-built_in">width</span> / <span class="hljs-number">8</span>;

    raw(bitsPerPixel / <span class="hljs-number">8</span>) pixels[<span class="hljs-built_in">width</span>];
    raw(paddingInBytes) padding;
};

...
</code></pre>
<p>If a variable is not assigned a value at definition, it defaults to a value of zero.</p>
<p>The resulting display looks like:</p>
<pre><code>PixelRow (.firstRow)
<span class="hljs-number">36</span>h             pixels[ <span class="hljs-number">0</span>] <span class="hljs-number">0xFF00FF</span>
<span class="hljs-number">39</span>h             pixels[ <span class="hljs-number">1</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">3</span>Ch             pixels[ <span class="hljs-number">2</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">3</span>Fh             pixels[ <span class="hljs-number">3</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">42</span>h             pixels[ <span class="hljs-number">4</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">45</span>h             pixels[ <span class="hljs-number">5</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">48</span>h             pixels[ <span class="hljs-number">6</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">4</span>Bh             pixels[ <span class="hljs-number">7</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">4</span>Eh             pixels[ <span class="hljs-number">8</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">51</span>h             pixels[ <span class="hljs-number">9</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">54</span>h             pixels[<span class="hljs-number">10</span>] <span class="hljs-number">0xFFFFFF</span>
<span class="hljs-number">57</span>h                padding <span class="hljs-number">0x000000</span>
</code></pre><h2 id="operators">Operators</h2>
<p>This only shows the first row of the image, to show all rows we can use <code>infoHeader.height</code> and define the rows as an array of <code>PixelRow</code>. The problem is that <code>infoHeader.height</code> may be negative. We could do:</p>
<pre><code class="lang-C++">...

struct <span class="hljs-keyword">BMPFile
</span>{
    <span class="hljs-keyword">BMPFileHeader </span>fileHeader<span class="hljs-comment">;</span>
    <span class="hljs-keyword">BMPInfoHeader </span>infoHeader<span class="hljs-comment">;</span>

    var height = infoHeader.height<span class="hljs-comment">;</span>
    if (height &lt; <span class="hljs-number">0</span>)
    {
        height = -height<span class="hljs-comment">;</span>
    }

    @(fileHeader.fileOffsetToPixelArray) PixelRow(infoHeader.<span class="hljs-keyword">bitsPerPixel, </span>infoHeader.width) rows[height]<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout <span class="hljs-keyword">BMPFile;</span>
</code></pre>
<p>but that is quite verbose.</p>
<p>BEdit supports most unary and binary operators of C, but the ternary operator is not supported. BEdit also adds one more operator, <code>abs</code>. We can simplify the above to:</p>
<pre><code class="lang-C++">...

struct <span class="hljs-keyword">BMPFile
</span>{
    <span class="hljs-keyword">BMPFileHeader </span>fileHeader<span class="hljs-comment">;</span>
    <span class="hljs-keyword">BMPInfoHeader </span>infoHeader<span class="hljs-comment">;</span>

    @(fileHeader.fileOffsetToPixelArray) PixelRow(infoHeader.<span class="hljs-keyword">bitsPerPixel, </span>infoHeader.width) rows[abs infoHeader.height]<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout <span class="hljs-keyword">BMPFile;</span>
</code></pre>
<p>This should display the entire file.</p>
<h3 id="bmp-bet">bmp.bet</h3>
<pre><code class="lang-C++"><span class="hljs-symbol">typedef</span> u(<span class="hljs-number">4</span>, hex) offset_t<span class="hljs-comment">;</span>

<span class="hljs-symbol">enum</span> anonymous PixelCompression(<span class="hljs-number">4</span>)
{
    <span class="hljs-keyword">BI_RGB,
</span>    <span class="hljs-keyword">BI_RLE8,
</span>    <span class="hljs-keyword">BI_RLE4,
</span>    <span class="hljs-keyword">BI_BITFIELDS,
</span>    <span class="hljs-keyword">BI_JPEG,
</span>    <span class="hljs-keyword">BI_PNG,
</span>    <span class="hljs-keyword">BI_ALPHABITFIELDS,
</span>    <span class="hljs-keyword">BI_CMYK </span>= <span class="hljs-number">11</span>,
    <span class="hljs-keyword">BI_CMYKRLE8,
</span>    <span class="hljs-keyword">BI_CMYKRLE4,
</span>}<span class="hljs-comment">;</span>

<span class="hljs-keyword">struct </span><span class="hljs-keyword">BMPFileHeader
</span>{
    <span class="hljs-keyword">string(2) </span>signature<span class="hljs-comment">;</span>
    <span class="hljs-meta">assert</span>(signature == <span class="hljs-string">'BM'</span>)<span class="hljs-comment">;</span>

    u(<span class="hljs-number">4</span>) fileSize<span class="hljs-comment">;</span>
    hidden(<span class="hljs-number">2</span>) reserved[<span class="hljs-number">2</span>]<span class="hljs-comment">;</span>

    offset_t fileOffsetToPixelArray<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

<span class="hljs-keyword">struct </span><span class="hljs-keyword">BMPInfoHeader
</span>{
    u(<span class="hljs-number">4</span>) size<span class="hljs-comment">;</span>

    s(<span class="hljs-number">4</span>) width<span class="hljs-comment">;</span>
    s(<span class="hljs-number">4</span>) height<span class="hljs-comment">;</span>

    u(<span class="hljs-number">2</span>) planeCount<span class="hljs-comment">;</span>
    u(<span class="hljs-number">2</span>) <span class="hljs-keyword">bitsPerPixel;
</span>
    PixelCompression compression<span class="hljs-comment">;</span>
    <span class="hljs-meta">assert</span>(compression == <span class="hljs-keyword">BI_RGB);
</span>
    u(<span class="hljs-number">4</span>) imageSize<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) xPixelsPerMeter<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) yPixelsPerMeter<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) colorsInColorTable<span class="hljs-comment">;</span>
    u(<span class="hljs-number">4</span>) importantColorCount<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

<span class="hljs-keyword">struct </span>PixelRow(var <span class="hljs-keyword">bitsPerPixel, </span>var width)
{
    <span class="hljs-meta">assert</span>(<span class="hljs-keyword">bitsPerPixel </span>% <span class="hljs-number">8</span> == <span class="hljs-number">0</span>)<span class="hljs-comment">;</span>

    var sizeInBytes = <span class="hljs-number">4</span> * ((<span class="hljs-keyword">bitsPerPixel </span>* width + <span class="hljs-number">31</span>) / <span class="hljs-number">32</span>)<span class="hljs-comment">;</span>
    var paddingInBytes = sizeInBytes - <span class="hljs-keyword">bitsPerPixel </span>* width / <span class="hljs-number">8</span><span class="hljs-comment">;</span>

    raw(<span class="hljs-keyword">bitsPerPixel </span>/ <span class="hljs-number">8</span>) pixels[width]<span class="hljs-comment">;</span>
    raw(paddingInBytes) padding<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

<span class="hljs-keyword">struct </span><span class="hljs-keyword">BMPFile
</span>{
    <span class="hljs-keyword">BMPFileHeader </span>fileHeader<span class="hljs-comment">;</span>
    <span class="hljs-keyword">BMPInfoHeader </span>infoHeader<span class="hljs-comment">;</span>

    <span class="hljs-comment">@(fileHeader.fileOffsetToPixelArray) PixelRow(infoHeader.bitsPerPixel, infoHeader.width) rows[abs infoHeader.height];</span>
}<span class="hljs-comment">;</span>

<span class="hljs-symbol">layout</span> <span class="hljs-keyword">BMPFile;</span>
</code></pre>
<h2 id="-default-statement"><code>#default</code> Statement</h2>
<p>PNG files are quite different from BMP although they do represent images. The file specification can be found from <a href="http://www.libpng.org/pub/png/spec/1.2/PNG-Contents.html">libpng.org</a>.</p>
<p>PNG scalars are stored as big endian. You can write all scalar members with <code>big</code> in the type declaration, but as the entire file is in same byte order, we can use the <code>#default</code> statement to set it globally.</p>
<p>The <code>#</code> character indicates that the directive is applied to lines of code rather than following the flow of execution. Currently only <code>byteorder</code> can be modified using <code>#default</code> directive.</p>
<pre><code class="lang-C++">#<span class="hljs-section">default</span>(byteorder = big);

struct PNGHeader
{
    raw(<span class="hljs-number">1</span>) transmissionByte;
    <span class="hljs-type">string</span>(<span class="hljs-number">3</span>) pngMagic;
    assert(pngMagic == <span class="hljs-string">"PNG"</span>);

    <span class="hljs-type">string</span>(<span class="hljs-number">2</span>) lineEnding_DOS;
    <span class="hljs-type">string</span>(<span class="hljs-number">1</span>) eofChar;
    <span class="hljs-type">string</span>(<span class="hljs-number">1</span>) lineEnding_UNIX;
};

layout PNGHeader;
</code></pre>
<p>The <code>#default</code> statement effects all lines after it, until another default statement changes the behavior.</p>
<p>Note that the members of the header are only <code>raw</code> and <code>string</code>, both of which ignore byte order so the effect of <code>#default(byteorder = big)</code> is not yet visible.</p>
<p>If you run the above using <code>examples/test.png</code> (that&#39;s inside the BEdit downloadable package) you will see BEdit layout the content as</p>
<pre><code>PNGHeader
 <span class="hljs-number">0</span>h transmissionByte   <span class="hljs-number">0x89</span>
<span class="hljs-number">01</span>h         pngMagic  <span class="hljs-string">"PNG"</span>
<span class="hljs-number">04</span>h   lineEnding_DOS <span class="hljs-string">"\r<span class="hljs-subst">\n</span>"</span>
<span class="hljs-number">06</span>h          eofChar <span class="hljs-string">"\x1a"</span>
<span class="hljs-number">07</span>h  lineEnding_UNIX   <span class="hljs-string">"<span class="hljs-subst">\n</span>"</span>
</code></pre><p>After the header, a PNG file contains chunks until the end of the file.</p>
<h2 id="loops-and-size_of_file-">Loops and <code>size_of_file</code></h2>
<p>A chunk contains a size and type identifier followed by the content and a crc. Where the first chunk type is expected to be <code>IHDR</code>.</p>
<pre><code class="lang-C++">
#<span class="hljs-keyword">default</span>(byteorder = big);

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">PNGHeader</span></span>
{
    ...
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">Chunk</span></span>
{
    u(<span class="hljs-number">4</span>) size;
    string(<span class="hljs-number">4</span>) <span class="hljs-class"><span class="hljs-keyword">type</span>;</span>
    raw(size) data;  <span class="hljs-comment">// NOTE If 'size' is zero the member is ignored.</span>

    u(<span class="hljs-number">4</span>) crc;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">PNGFile</span></span>
{
    PNGHeader header;
    Chunk ihdrChunk;
    assert(ihdrChunk.<span class="hljs-keyword">type</span> == <span class="hljs-string">"IHDR"</span>);

    Chunk chunk1;
    Chunk chunk2;
    Chunk chunk3;
    <span class="hljs-comment">// ...</span>
};

layout PNGFile;
</code></pre>
<p>The chunks are displayed as </p>
<pre><code>Chunk (.ihdrChunk)
<span class="hljs-number">08</span>h             size                           <span class="hljs-number">13</span>
<span class="hljs-number">0</span>Ch             type                       <span class="hljs-string">"IHDR"</span>
<span class="hljs-number">10</span>h             data <span class="hljs-number">0x0000000B000000070806000000</span>
<span class="hljs-number">1</span>Dh              crc                <span class="hljs-number">3</span> <span class="hljs-number">731</span> <span class="hljs-number">797</span> <span class="hljs-number">853</span>

Chunk (.chunk)
<span class="hljs-number">21</span>h             size                            <span class="hljs-number">1</span>
<span class="hljs-number">25</span>h             type                       <span class="hljs-string">"sRGB"</span>
<span class="hljs-number">29</span>h             data                         <span class="hljs-number">0x00</span>
<span class="hljs-number">2</span>Ah              crc                <span class="hljs-number">2</span> <span class="hljs-number">932</span> <span class="hljs-number">743</span> <span class="hljs-number">401</span>

Chunk (.chunk)
<span class="hljs-number">2</span>Eh             size                            <span class="hljs-number">4</span>
<span class="hljs-number">32</span>h             type                       <span class="hljs-string">"gAMA"</span>
<span class="hljs-number">36</span>h             data                   <span class="hljs-number">0x0000B18F</span>
<span class="hljs-number">3</span>Ah              crc                  <span class="hljs-number">201</span> <span class="hljs-number">089</span> <span class="hljs-number">285</span>

Chunk (.chunk)
<span class="hljs-number">3</span>Eh             size                            <span class="hljs-number">9</span>
<span class="hljs-number">42</span>h             type                       <span class="hljs-string">"pHYs"</span>
<span class="hljs-number">46</span>h             data         <span class="hljs-number">0x00000EC300000EC301</span>
<span class="hljs-number">4</span>Fh              crc                <span class="hljs-number">3</span> <span class="hljs-number">345</span> <span class="hljs-number">983</span> <span class="hljs-number">588</span>
</code></pre><p>We can&#39;t create the chunks as an array because we don&#39;t know how many they are based on the header. Since they have dynamic size we can&#39;t calculate it either.</p>
<p>For these situations we can create a loop that declares a chunk, until end of file.</p>
<pre><code class="lang-C++">...

struct PNGFile
{
    PNGHeader header<span class="hljs-comment">;</span>
    Chunk ihdrChunk<span class="hljs-comment">;</span>
    assert(ihdrChunk.type == <span class="hljs-string">"IHDR"</span>)<span class="hljs-comment">;</span>

    while (@ &lt; size_of_file)
    {
        Chunk chunk<span class="hljs-comment">;</span>
    }
}<span class="hljs-comment">;</span>
</code></pre>
<p><code>size_of_file</code> is a constant containing the size of the binary file, in bytes.</p>
<pre><code>Chunk (.ihdrChunk)
<span class="hljs-number">08</span>h             size                                                       <span class="hljs-number">13</span>
<span class="hljs-number">0</span>Ch             type                                                   <span class="hljs-string">"IHDR"</span>
<span class="hljs-number">10</span>h             data                             <span class="hljs-number">0x0000000B000000070806000000</span>
<span class="hljs-number">1</span>Dh              crc                                            <span class="hljs-number">3</span> <span class="hljs-number">731</span> <span class="hljs-number">797</span> <span class="hljs-number">853</span>

Chunk (.chunk)
<span class="hljs-number">21</span>h             size                                                        <span class="hljs-number">1</span>
<span class="hljs-number">25</span>h             type                                                   <span class="hljs-string">"sRGB"</span>
<span class="hljs-number">29</span>h             data                                                     <span class="hljs-number">0x00</span>
<span class="hljs-number">2</span>Ah              crc                                            <span class="hljs-number">2</span> <span class="hljs-number">932</span> <span class="hljs-number">743</span> <span class="hljs-number">401</span>

Chunk (.chunk)
<span class="hljs-number">2</span>Eh             size                                                        <span class="hljs-number">4</span>
<span class="hljs-number">32</span>h             type                                                   <span class="hljs-string">"gAMA"</span>
<span class="hljs-number">36</span>h             data                                               <span class="hljs-number">0x0000B18F</span>
<span class="hljs-number">3</span>Ah              crc                                              <span class="hljs-number">201</span> <span class="hljs-number">089</span> <span class="hljs-number">285</span>

Chunk (.chunk)
<span class="hljs-number">3</span>Eh             size                                                        <span class="hljs-number">9</span>
<span class="hljs-number">42</span>h             type                                                   <span class="hljs-string">"pHYs"</span>
<span class="hljs-number">46</span>h             data                                     <span class="hljs-number">0x00000EC300000EC301</span>
<span class="hljs-number">4</span>Fh              crc                                            <span class="hljs-number">3</span> <span class="hljs-number">345</span> <span class="hljs-number">983</span> <span class="hljs-number">588</span>

Chunk (.chunk)
<span class="hljs-number">53</span>h             size                                                       <span class="hljs-number">25</span>
<span class="hljs-number">57</span>h             type                                                   <span class="hljs-string">"tEXt"</span>
<span class="hljs-number">5</span>Bh             data     <span class="hljs-number">0x536F667477617265007061696E742E6E657420342E302E3231</span>
<span class="hljs-number">74</span>h              crc                                            <span class="hljs-number">4</span> <span class="hljs-number">045</span> <span class="hljs-number">433</span> <span class="hljs-number">237</span>

Chunk (.chunk)
<span class="hljs-number">78</span>h             size                                                       <span class="hljs-number">27</span>
<span class="hljs-number">7</span>Ch             type                                                   <span class="hljs-string">"IDAT"</span>
<span class="hljs-number">80</span>h             data <span class="hljs-number">0x285363F8CF00464400A03A288B2830341513ADFCFF7F00BB7E2CE2</span>
<span class="hljs-number">9</span>Bh              crc                                            <span class="hljs-number">2</span> <span class="hljs-number">976</span> <span class="hljs-number">452</span> <span class="hljs-number">423</span>

Chunk (.chunk)
<span class="hljs-number">9</span>Fh             size                                                        <span class="hljs-number">0</span>
A3h             type                                                   <span class="hljs-string">"IEND"</span>
A7h              crc                                            <span class="hljs-number">2</span> <span class="hljs-number">923</span> <span class="hljs-number">585</span> <span class="hljs-number">666</span>
</code></pre><p>As the last chunk has <code>IEND</code> as type, we could also write the loop as:</p>
<pre><code class="lang-C++">    <span class="hljs-keyword">do</span>
    {
        Chunk chunk;
    }
    <span class="hljs-keyword">while</span> (chunk.<span class="hljs-keyword">type</span> <span class="hljs-type">!= </span><span class="hljs-string">"IEND"</span>);
</code></pre>
<h2 id="-if-and-else-if-"><code>if</code> and <code>else if</code></h2>
<p>The chunk <code>data</code> is in a format decided by <code>type</code> and <code>size</code> members. Not all chunk types are guaranteed to be in the file, but at least <code>IHDR</code>, <code>IDAT</code> and <code>IEND</code> is. We can add display support for these inside the chunk type by branching.</p>
<p>The <code>examples/test.png</code> has chunks <code>IHDR</code>, <code>sRGB</code>, <code>gAMA</code>, <code>pHYs</code>, <code>tEXt</code>, <code>IDAT</code> and <code>IEND</code>. Adding visualization for these is fairly straight forward, look at the documentation for the chunk type and add an <code>else if</code> branch for the type.</p>
<pre><code class="lang-C++">...

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">sRGB_Intent</span></span>
{
    Perceptual,
    RelativeColorimetric,
    Saturation,
    AbsoluteColorimetric,
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">sRGB</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">1</span>);
    sRGB_Intent(<span class="hljs-number">1</span>) intent;
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">IHDR_ColorType</span></span>
{
    Grayscale,
    RGB = <span class="hljs-number">2</span>,
    Palette,
    GrayscaleWithAlpha,
    RGBWithAlpha = <span class="hljs-number">6</span>
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">IHDR_Filter</span></span>
{
    None,
    Sub,
    Up,
    Average,
    Paeth,
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">IHDR_Interlace</span></span>
{
    None,
    Adam7,
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">IHDR</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">13</span>);

    u(<span class="hljs-number">4</span>) width;
    u(<span class="hljs-number">4</span>) height;
    u(<span class="hljs-number">1</span>) bitDepth;
    IHDR_ColorType(<span class="hljs-number">1</span>) colorType;
    u(<span class="hljs-number">1</span>) compressionMethod;
    assert(compressionMethod == <span class="hljs-number">0</span>);

    IHDR_Filter(<span class="hljs-number">1</span>) filterMethod;
    IHDR_Interlace(<span class="hljs-number">1</span>) interlaceMethod;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">gAMA</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">4</span>);
    u(<span class="hljs-number">4</span>) factor;
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">pHYs_Unit</span></span>
{
    Unknown,
    Meters,
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">pHYs</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">9</span>);

    u(<span class="hljs-number">4</span>) ppuX;
    u(<span class="hljs-number">4</span>) ppuY;
    pHYs_Unit(<span class="hljs-number">1</span>) unit;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">tEXt</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    string(size) value;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">IDAT</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    hidden(size) data;
    print(<span class="hljs-string">"Pixel data parsing left as reader's exercise."</span>);
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">Chunk</span></span>
{
    u(<span class="hljs-number">4</span>) size;
    string(<span class="hljs-number">4</span>) <span class="hljs-keyword">type</span>;

    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">type</span> == <span class="hljs-string">"IHDR"</span>)
    {
        IHDR(size) data;
    }
    <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (<span class="hljs-keyword">type</span> == <span class="hljs-string">"gAMA"</span>)
    {
        gAMA(size) data;
    }
    <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (<span class="hljs-keyword">type</span> == <span class="hljs-string">"pHYs"</span>)
    {
        pHYs(size) data;
    }
    <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (<span class="hljs-keyword">type</span> == <span class="hljs-string">"tEXt"</span>)
    {
        tEXt(size) data;
    }
    <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (<span class="hljs-keyword">type</span> == <span class="hljs-string">"IDAT"</span>)
    {
        IDAT(size) data;
    }
    <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (<span class="hljs-keyword">type</span> == <span class="hljs-string">"sRGB"</span>)
    {
        sRGB(size) data;
    }
    <span class="hljs-keyword">else</span>
    {
        raw(size) data;
    }

    u(<span class="hljs-number">4</span>) crc;
};

...
</code></pre>
<p>The chunks now display more useful information.</p>
<pre><code>Chunk (.ihdrChunk)
<span class="hljs-number">08</span>h              size                           <span class="hljs-number">13</span>
<span class="hljs-number">0</span>Ch              type                       <span class="hljs-string">"IHDR"</span>
IHDR (.data)
<span class="hljs-number">10</span>h             width                           <span class="hljs-number">11</span>
<span class="hljs-number">14</span>h            height                            <span class="hljs-number">7</span>
<span class="hljs-number">18</span>h          bitDepth                            <span class="hljs-number">8</span>
<span class="hljs-number">19</span>h         colorType                 RGBWithAlpha
<span class="hljs-number">1</span>Ah compressionMethod                            <span class="hljs-number">0</span>
<span class="hljs-number">1</span>Bh      filterMethod                         None
<span class="hljs-number">1</span>Ch   interlaceMethod                         None

<span class="hljs-number">1</span>Dh               crc                <span class="hljs-number">3</span> <span class="hljs-number">731</span> <span class="hljs-number">797</span> <span class="hljs-number">853</span>

Chunk (.chunk)
<span class="hljs-number">21</span>h              size                            <span class="hljs-number">1</span>
<span class="hljs-number">25</span>h              type                       <span class="hljs-string">"sRGB"</span>
sRGB (.data)
<span class="hljs-number">29</span>h            intent                   Perceptual

<span class="hljs-number">2</span>Ah               crc                <span class="hljs-number">2</span> <span class="hljs-number">932</span> <span class="hljs-number">743</span> <span class="hljs-number">401</span>

Chunk (.chunk)
<span class="hljs-number">2</span>Eh              size                            <span class="hljs-number">4</span>
<span class="hljs-number">32</span>h              type                       <span class="hljs-string">"gAMA"</span>
gAMA (.data)
<span class="hljs-number">36</span>h            factor                       <span class="hljs-number">45</span> <span class="hljs-number">455</span>

<span class="hljs-number">3</span>Ah               crc                  <span class="hljs-number">201</span> <span class="hljs-number">089</span> <span class="hljs-number">285</span>

Chunk (.chunk)
<span class="hljs-number">3</span>Eh              size                            <span class="hljs-number">9</span>
<span class="hljs-number">42</span>h              type                       <span class="hljs-string">"pHYs"</span>
pHYs (.data)
<span class="hljs-number">46</span>h              ppuX                        <span class="hljs-number">3</span> <span class="hljs-number">779</span>
<span class="hljs-number">4</span>Ah              ppuY                        <span class="hljs-number">3</span> <span class="hljs-number">779</span>
<span class="hljs-number">4</span>Eh              unit                       Meters

<span class="hljs-number">4</span>Fh               crc                <span class="hljs-number">3</span> <span class="hljs-number">345</span> <span class="hljs-number">983</span> <span class="hljs-number">588</span>

Chunk (.chunk)
<span class="hljs-number">53</span>h              size                           <span class="hljs-number">25</span>
<span class="hljs-number">57</span>h              type                       <span class="hljs-string">"tEXt"</span>
tEXt (.data)
<span class="hljs-number">5</span>Bh             value <span class="hljs-string">"Software\0paint.net 4.0.21"</span>

<span class="hljs-number">74</span>h               crc                <span class="hljs-number">4</span> <span class="hljs-number">045</span> <span class="hljs-number">433</span> <span class="hljs-number">237</span>

Chunk (.chunk)
<span class="hljs-number">78</span>h              size                           <span class="hljs-number">27</span>
<span class="hljs-number">7</span>Ch              type                       <span class="hljs-string">"IDAT"</span>
IDAT (.data)
<span class="hljs-string">"Pixel data parsing left as reader's exercise."</span>

<span class="hljs-number">9</span>Bh               crc                <span class="hljs-number">2</span> <span class="hljs-number">976</span> <span class="hljs-number">452</span> <span class="hljs-number">423</span>

Chunk (.chunk)
<span class="hljs-number">9</span>Fh              size                            <span class="hljs-number">0</span>
A3h              type                       <span class="hljs-string">"IEND"</span>
A7h               crc                <span class="hljs-number">2</span> <span class="hljs-number">923</span> <span class="hljs-number">585</span> <span class="hljs-number">666</span>
</code></pre><h2 id="categories-reflection">Categories / Reflection</h2>
<p>The <code>if</code>, <code>else if</code>, <code>else</code> chain, although it does the trick, is very sub-optimal. A better way to structure the <code>Chunk</code> is by using categories.</p>
<p>A category is a &quot;tag&quot; you can assign to a type with a unique type id. You can then declare a member using a type id loaded dynamically. You assign a tag and type id as</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">struct</span>(<span class="hljs-title">TagId</span>, typeNumber) MyType </span>{ ... };
</code></pre>
<p>and declare a member as</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">SomeType</span>
</span>{
   TagId[typeNumber] data;
};
</code></pre>
<p>If the category <code>TagId</code> does not have the type indicated by <code>typeNumber</code> an error is reported. To check for this before-hand use <code>has_type(TagId, typeNumber)</code>.</p>
<pre><code class="lang-C++">...

struct(<span class="hljs-keyword">ChunkData, </span><span class="hljs-string">"sRGB"</span>) sRGB(var size)
{
    ...
}<span class="hljs-comment">;</span>

struct(<span class="hljs-keyword">ChunkData, </span><span class="hljs-string">"IHDR"</span>) IHDR(var size)
{
    ...
}<span class="hljs-comment">;</span>

struct(<span class="hljs-keyword">ChunkData, </span><span class="hljs-string">"gAMA"</span>) gAMA(var size)
{
    ...
}<span class="hljs-comment">;</span>

struct(<span class="hljs-keyword">ChunkData, </span><span class="hljs-string">"pHYs"</span>) pHYs(var size)
{
    ...
}<span class="hljs-comment">;</span>

struct(<span class="hljs-keyword">ChunkData, </span><span class="hljs-string">"tEXt"</span>) tEXt(var size)
{
    ...
}<span class="hljs-comment">;</span>

struct(<span class="hljs-keyword">ChunkData, </span><span class="hljs-string">"IDAT"</span>) IDAT(var size)
{
    ...
}<span class="hljs-comment">;</span>

struct Chunk
{
    u(<span class="hljs-number">4</span>) size<span class="hljs-comment">;</span>
    string(<span class="hljs-number">4</span>) type<span class="hljs-comment">;</span>

    if (has_type(<span class="hljs-keyword">ChunkData, </span>type))
    {
        <span class="hljs-keyword">ChunkData[type](size) </span>data<span class="hljs-comment">;</span>
    }
    else
    {
        raw(size) data<span class="hljs-comment">;</span>
    }

    u(<span class="hljs-number">4</span>) crc<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>
...
</code></pre>
<p>Remember that a string literal can be used as a number, if it fits in 64-bits (8 characters).</p>
<h3 id="png-bet">png.bet</h3>
<pre><code class="lang-C++"><span class="hljs-comment">#default(byteorder = big);</span>

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">PNGHeader</span></span>
{
    raw(<span class="hljs-number">1</span>) transmissionByte;
    string(<span class="hljs-number">3</span>) pngMagic;
    assert(pngMagic == <span class="hljs-string">"PNG"</span>);

    string(<span class="hljs-number">2</span>) lineEnding_DOS;
    string(<span class="hljs-number">1</span>) eofChar;
    string(<span class="hljs-number">1</span>) lineEnding_UNIX;
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">sRGB_Intent</span></span>
{
    Perceptual,
    RelativeColorimetric,
    Saturation,
    AbsoluteColorimetric,
};

<span class="hljs-class"><span class="hljs-keyword">struct</span>(<span class="hljs-title">ChunkData</span>, "<span class="hljs-title">sRGB</span>") <span class="hljs-title">sRGB</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">1</span>);
    sRGB_Intent(<span class="hljs-number">1</span>) intent;
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">IHDR_ColorType</span></span>
{
    Grayscale,
    RGB = <span class="hljs-number">2</span>,
    Palette,
    GrayscaleWithAlpha,
    RGBWithAlpha = <span class="hljs-number">6</span>
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">IHDR_Filter</span></span>
{
    None,
    Sub,
    Up,
    Average,
    Paeth,
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">IHDR_Interlace</span></span>
{
    None,
    Adam7,
};

<span class="hljs-class"><span class="hljs-keyword">struct</span>(<span class="hljs-title">ChunkData</span>, "<span class="hljs-title">IHDR</span>") <span class="hljs-title">IHDR</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">13</span>);

    u(<span class="hljs-number">4</span>) width;
    u(<span class="hljs-number">4</span>) height;
    u(<span class="hljs-number">1</span>) bitDepth;
    IHDR_ColorType(<span class="hljs-number">1</span>) colorType;
    u(<span class="hljs-number">1</span>) compressionMethod;
    assert(compressionMethod == <span class="hljs-number">0</span>);

    IHDR_Filter(<span class="hljs-number">1</span>) filterMethod;
    IHDR_Interlace(<span class="hljs-number">1</span>) interlaceMethod;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span>(<span class="hljs-title">ChunkData</span>, "<span class="hljs-title">gAMA</span>") <span class="hljs-title">gAMA</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">4</span>);
    u(<span class="hljs-number">4</span>) factor;
};

<span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">pHYs_Unit</span></span>
{
    Unknown,
    Meters,
};

<span class="hljs-class"><span class="hljs-keyword">struct</span>(<span class="hljs-title">ChunkData</span>, "<span class="hljs-title">pHYs</span>") <span class="hljs-title">pHYs</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    assert(size == <span class="hljs-number">9</span>);

    u(<span class="hljs-number">4</span>) ppuX;
    u(<span class="hljs-number">4</span>) ppuY;
    pHYs_Unit(<span class="hljs-number">1</span>) unit;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span>(<span class="hljs-title">ChunkData</span>, "<span class="hljs-title">tEXt</span>") <span class="hljs-title">tEXt</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    string(size) value;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span>(<span class="hljs-title">ChunkData</span>, "<span class="hljs-title">IDAT</span>") <span class="hljs-title">IDAT</span>(<span class="hljs-title">var</span> <span class="hljs-title">size</span>)</span>
{
    hidden(size) data;
    print(<span class="hljs-string">"Pixel data parsing left as reader's exercise."</span>);
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">Chunk</span></span>
{
    u(<span class="hljs-number">4</span>) size;
    string(<span class="hljs-number">4</span>) <span class="hljs-keyword">type</span>;

    <span class="hljs-keyword">if</span> (has_type(ChunkData, <span class="hljs-keyword">type</span>))
    {
        ChunkData[<span class="hljs-keyword">type</span>](size) data;
    }
    <span class="hljs-keyword">else</span>
    {
        raw(size) data;
    }

    u(<span class="hljs-number">4</span>) crc;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">PNGFile</span></span>
{
    PNGHeader header;
    Chunk ihdrChunk;
    assert(ihdrChunk.<span class="hljs-keyword">type</span> == <span class="hljs-string">"IHDR"</span>);

    <span class="hljs-keyword">do</span>
    {
        Chunk chunk;
    }
    <span class="hljs-keyword">while</span> (chunk.<span class="hljs-keyword">type</span> != <span class="hljs-string">"IEND"</span>);
};

layout PNGFile;
</code></pre>
<h2 id="converting-c-to-bedit">Converting C to BEdit</h2>
<p>Although they look similar, C <code>struct</code> is not fully compatible with BEdit. Features that BEdit does not have are bitfields, <code>union</code>, C types, nested anonymous structs and default alignment.</p>
<p>You can simulate a <code>union</code> in BEdit by manually offsetting <code>@</code>. Consider:</p>
<pre><code class="lang-C++"><span class="hljs-comment">// C/C++</span>
<span class="hljs-keyword">struct</span> MyValue
{
    <span class="hljs-keyword">bool</span> isInt;
    <span class="hljs-keyword">union</span>
    {
        <span class="hljs-keyword">int</span> intValue;
        <span class="hljs-keyword">float</span> floatValues[<span class="hljs-number">4</span>];
    };
    <span class="hljs-comment">// Size of union is 4*4 = 16 bytes.</span>
};
</code></pre>
<p>In BEdit you could write (assuming <code>bool</code> is one byte, <code>int</code> and <code>float</code> 4 bytes).</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">enum</span> <span class="hljs-title">anonymous</span> <span class="hljs-title">bool</span>(1)</span>
{
    <span class="hljs-literal">false</span>, <span class="hljs-literal">true</span>
};

typedef s(<span class="hljs-number">4</span>) int;
typedef f(<span class="hljs-number">4</span>) float;

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">MyValues</span></span>
{
    bool isInt;
    hidden(<span class="hljs-number">3</span>) padding; <span class="hljs-regexp">//</span> Assumed padding, C <span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">padding</span> <span class="hljs-title">is</span> <span class="hljs-title">compiler</span> <span class="hljs-title">specific</span>.</span>

    var endAddress = @ + <span class="hljs-number">16</span>;

    <span class="hljs-keyword">if</span> (isInt)
    {
        int iValue;
    }
    <span class="hljs-keyword">else</span>
    {
        float floatValues[<span class="hljs-number">4</span>];
    }

    @ = endAddress;
};
</code></pre>
<h2 id="-alignas-"><code>alignas</code></h2>
<p>All types in BEdit have a default alignment of 1. This means no padding is inserted between members. This might cause issues when copy-pasting types from C.</p>
<p>Padding is compiler specific and cannot be assumed by BEdit, but you can add <code>alignas</code> specifier to align <code>@</code> before the member is evaluated.</p>
<pre><code class="lang-C++"><span class="hljs-function"><span class="hljs-keyword">typedef</span> <span class="hljs-title">string</span><span class="hljs-params">(<span class="hljs-number">1</span>)</span> <span class="hljs-keyword">char</span></span>;
<span class="hljs-function"><span class="hljs-keyword">typedef</span> <span class="hljs-title">alignas</span><span class="hljs-params">(<span class="hljs-number">4</span>)</span> <span class="hljs-title">s</span><span class="hljs-params">(<span class="hljs-number">4</span>)</span> <span class="hljs-keyword">int</span></span>;

<span class="hljs-keyword">struct</span> Foo
{
    <span class="hljs-keyword">char</span> c; <span class="hljs-comment">// Start address is zero.</span>
    <span class="hljs-keyword">int</span> i;  <span class="hljs-comment">// Start address is four.</span>
    alignas(<span class="hljs-number">3</span>) raw(<span class="hljs-number">1</span>) funky; <span class="hljs-comment">// Start address is 9.</span>
};

layout Foo;
</code></pre>
<p>Note that alignment corrections take place just before the member, that is:</p>
<pre><code class="lang-C++"><span class="hljs-selector-tag">struct</span> <span class="hljs-selector-tag">Foo</span>
{
    <span class="hljs-selector-tag">u</span>(<span class="hljs-number">1</span>) <span class="hljs-selector-tag">uVal</span>;
    <span class="hljs-selector-tag">print</span>(@); <span class="hljs-comment">// prints 1, not 4.</span>
    <span class="hljs-selector-tag">alignas</span>(<span class="hljs-number">4</span>) <span class="hljs-selector-tag">s</span>(<span class="hljs-number">4</span>) <span class="hljs-selector-tag">iVal</span>;
};
</code></pre>
<p><code>alignas</code> can be used on any member declaration (except category member) and any type declaration. If both a type and member has declared an <code>alignas</code> the one declared for the member is used. If a type of a category has been declared with <code>alignas</code> all types of that category must have the same alignment.</p>
<h2 id="-import-"><code>import</code></h2>
<p>As files become bigger, separating them to several different ones is sometimes a good idea. You can use <code>import</code> for this.</p>
<pre><code class="lang-C++">// Defines u32 and MyString
import(<span class="hljs-string">"MyTypes.bet"</span>)<span class="hljs-comment">;</span>

struct Foo
{
    u32 uVal<span class="hljs-comment">;</span>
    MyString str<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout Foo<span class="hljs-comment">;</span>
</code></pre>
<p>When a module is being imported, any <code>layout</code> command therein is ignored.</p>
<h2 id="external-members">External Members</h2>
<p>In certain situations you have links to other parts of the file (e.g. <code>fileOffsetToPixelArray</code> in BMP example). Sometimes it&#39;s useful to &quot;pretend&quot; the data is in that type, for display reasons, but you don&#39;t want the struct size to be modified due to it.</p>
<p>Consider</p>
<pre><code class="lang-C++"><span class="hljs-selector-tag">struct</span> <span class="hljs-selector-tag">Image</span>
{
    <span class="hljs-selector-tag">u</span>(<span class="hljs-number">4</span>) <span class="hljs-selector-tag">width</span>;
    <span class="hljs-selector-tag">u</span>(<span class="hljs-number">4</span>) <span class="hljs-selector-tag">height</span>;
    <span class="hljs-selector-tag">u</span>(<span class="hljs-number">8</span>, hex) <span class="hljs-selector-tag">pixelsLocation</span>;

    <span class="hljs-comment">// Not possible as this modifies @</span>
    <span class="hljs-comment">// @(pixelsLocation) raw(4) rgba[width * height];</span>
};

<span class="hljs-selector-tag">struct</span> <span class="hljs-selector-tag">File</span>
{
    <span class="hljs-selector-tag">u</span>(<span class="hljs-number">4</span>) <span class="hljs-selector-tag">imageCount</span>;
    <span class="hljs-selector-tag">Image</span> <span class="hljs-selector-tag">images</span><span class="hljs-selector-attr">[imageCount]</span>;

    <span class="hljs-comment">// Collection of all pixels in the file.</span>
    <span class="hljs-selector-tag">raw</span>(size_of_file - @) <span class="hljs-selector-tag">allPixels</span>;
};
</code></pre>
<p>To declare a member external, you can use:</p>
<pre><code class="lang-C++">    @(external pixelsLocation) raw(<span class="hljs-number">4</span>) rgba[<span class="hljs-built_in">width</span> * <span class="hljs-built_in">height</span>];
</code></pre>
<p>An <code>external</code> member behaves exactly like a normal one except it resets <code>@</code> after it&#39;s declaration to what it was before. It is equivalent to </p>
<pre><code class="lang-C++">    var oldAt = @<span class="hljs-comment">;</span>
    @(location) type member<span class="hljs-comment">;</span>
    @ = oldAt<span class="hljs-comment">;</span>
</code></pre>
<h2 id="internal-members">Internal Members</h2>
<p>The purpose of BEdit is to display data in a structured way. By default the executables will display a struct as its own separate table / tree-view, but sometimes you want to treat a member <em>as-if</em> it you had copy-pasted the members to the struct.</p>
<p>Consider the following struct</p>
<pre><code class="lang-C++">struct Vec2
{
    f(<span class="hljs-number">4</span>) x<span class="hljs-comment">;</span>
    f(<span class="hljs-number">4</span>) y<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

struct Transform2
{
    Vec2 position<span class="hljs-comment">;</span>
    Vec2 scale<span class="hljs-comment">;</span>
    f(<span class="hljs-number">4</span>) rotation<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

layout Transform2<span class="hljs-comment">;</span>
</code></pre>
<p>This displays</p>
<pre><code>Transform2
Vec2 (.position)
<span class="hljs-number">00</span>h x        ...
<span class="hljs-number">04</span>h y        ...

Vec2 (.scale)
<span class="hljs-number">08</span>h x        ...
<span class="hljs-number">0</span>Ch y        ...

<span class="hljs-number">10</span>h <span class="hljs-type">rotation</span> ...
</code></pre><p>which is rather verbose. </p>
<p>To treat members as <em>internal</em> change the code as</p>
<pre><code class="lang-C++">...

struct Transform2
{
    internal Vec2 position<span class="hljs-comment">;</span>
    internal Vec2 scale<span class="hljs-comment">;</span>
    f(<span class="hljs-number">4</span>) rotation<span class="hljs-comment">;</span>
}<span class="hljs-comment">;</span>

...
</code></pre>
<p>This formats the display as</p>
<pre><code>Transform2
<span class="hljs-number">00</span>h position.x ...
<span class="hljs-number">04</span>h position.y ...
<span class="hljs-number">08</span>h scale.x    ...
<span class="hljs-number">0</span>Ch scale.y    ...
<span class="hljs-number">10</span>h <span class="hljs-type">rotation</span>   ...
</code></pre><p><code>internal</code> can only be applied to <code>struct</code> types.</p>
<h2 id="-sizeof-"><code>sizeof</code></h2>
<p>To get the size of a struct, <code>sizeof</code> can be used. The size of a type is defined as the difference between <code>@</code> before the type was evaluated and after.</p>
<p>As a type can vary in size depending on the current address (e.g. if it reads an array length from the binary file), you can also add an address specifier as <code>sizeof(@(address) MyStruct)</code>. If an address specifier is omitted, the current address is used.</p>
<pre><code class="lang-C++"><span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">Bar</span>
</span>{
    u(<span class="hljs-number">1</span>, hex) a;
    raw(a) b;
};

<span class="hljs-class"><span class="hljs-keyword">struct</span> <span class="hljs-title">Foo</span>
</span>{
    <span class="hljs-built_in">print</span>(<span class="hljs-built_in">sizeof</span>(<span class="hljs-type">Bar</span>));
    <span class="hljs-type">Bar</span> bar;
    <span class="hljs-built_in">print</span>(<span class="hljs-built_in">sizeof</span>(<span class="hljs-type">Bar</span>));
    <span class="hljs-built_in">print</span>(<span class="hljs-built_in">sizeof</span>(@(<span class="hljs-number">1</span>) <span class="hljs-type">Bar</span>));
};

layout <span class="hljs-type">Foo</span>;

<span class="hljs-comment">//</span>
<span class="hljs-comment">// <span class="hljs-doctag">NOTE:</span> Expected output with binary file '01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E 0F'</span>
<span class="hljs-comment">//</span>
<span class="hljs-comment">// "(sizeof(Bar)) 2"</span>
<span class="hljs-comment">// bar.a 1h</span>
<span class="hljs-comment">// bar.b 0x02</span>
<span class="hljs-comment">// "(sizeof(Bar)) 4"</span>
<span class="hljs-comment">// "(sizeof(@(1) Bar)) 3"</span>
<span class="hljs-comment">//</span>
</code></pre>
<p>Currently only <code>struct</code> types are allowed in <code>sizeof</code> expressions.</p>
<h2 id="-array_count-"><code>array_count</code></h2>
<p>For array members you can query the array element count using <code>array_count(member)</code>. It is an error to query array count for non-array members.</p>
<h2 id="plotting">Plotting</h2>
<p>Sometimes textual representation of data is not enough, for this plotting can be used. Currently only line strip plot type is available.</p>
<p>To add a sample to a plot use </p>
<pre><code class="lang-C++">plot_x(<span class="hljs-name">plotId</span>, x)<span class="hljs-comment">;</span>
plot_y(<span class="hljs-name">plotId</span>, y)<span class="hljs-comment">;</span>
plot_xy(<span class="hljs-name">plotId</span>, x, y)<span class="hljs-comment">;</span>

plot_array_x(<span class="hljs-name">plotId</span>, member)<span class="hljs-comment">;</span>
plot_array_y(<span class="hljs-name">plotId</span>, member)<span class="hljs-comment">;</span>
</code></pre>
<p>where <code>plotId</code> is a unique identifier. This identifier can be any number and each time a new plot id is used a new plot will be created. To help manage plot identifiers you can call <code>create_plot()</code>. This will give you a new identifier (starting from 1 going up) each time you call it.</p>
<p>The <code>plot_array_x(member)</code> and <code>plot_array_y(member)</code> is equivalent to </p>
<pre><code class="lang-C++"><span class="hljs-built_in">var</span> count = array_count(<span class="hljs-built_in">member</span>);
<span class="hljs-keyword">for</span> (<span class="hljs-built_in">var</span> i = <span class="hljs-number">0</span>; i &lt; count; i += <span class="hljs-number">1</span>)
{
    plot_x(plotId, <span class="hljs-built_in">member</span>[i]); // <span class="hljs-keyword">or</span> plot_y <span class="hljs-keyword">for</span> plot_array_y
}
</code></pre>
<p>The scalar expressions in <code>plot_</code> functions are, unlike all other expressions, floating point expressions. Floating point expressions in BEdit are done in double precision (64-bit) and unlike in C, each part of the expression is first converted to a 64-bit float. That is, the expression <code>1/2</code> is evaluated to <code>0.5</code> and not <code>0.0</code>. Floating point members <code>f(...)</code> are supported, but only if their size is 4 or 8.</p>
<p>You may omit <code>x</code> samples, then <code>x</code> is treated as if the x-values were <code>0, 1, ...</code>. If you add both x samples and y samples, the amount of x and y samples must be the same.</p>
<p>For the command line version the plots are exported to an HTML file. This file fully contains everything required to visualize the plot and can be viewed offline.</p>
<h2 id="future-">Future...</h2>
<p>BEdit and the Layout Language is still in early development and several new features are planned. Some of the planned features are: functions, user defined encoded scalars, non-scalar variables... and more.</p>
<p>For feature requests and bug reports, head over to <a href="https://github.com/Kipt/BEdit/issues">GitHub issue tracker</a> or send a line directly to <a href="mailto://bedit.jens@gmail.com">bedit.jens@gmail.com</a>, all emails are treated as confidential. Forums are available at <a href="https://bedit.handmade.network/">Handmade Network</a> along with the latest free version packaged for Windows and Linux. Or why not harrass me directly on <a href="https://discord.gg/SbTfYQW6FH">Discord</a>?</p>
<p>To support development you can purchase the GUI version from <a href="https://kipt.itch.io/bedit">itch.io</a> that not only allows you to view the binary file, but also comes with an editor.</p>
